# ==========================================
# KONFIGURASI DATABASE SERVER
# ==========================================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=terralog_db

# ==========================================
# 1. KREDENSIAL ROOT (Khusus inisiasi setup_db.py)
# Kosongkan password jika menggunakan Laragon/XAMPP default
# ==========================================
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=

# ==========================================
# 2. KREDENSIAL APLIKASI (Untuk operasional app.py)
# ==========================================
DB_APP_USERNAME=
DB_APP_PASSWORD=

# ==========================================
# KONFIGURASI FLASK
# ==========================================
SECRET_KEY=