<aside class="relative w-72 bg-terralogBlue text-white flex flex-col min-h-screen p-6 overflow-hidden flex-none">
    
    <div class="mb-8 px-2 flex justify-center">
    <a href="/kasir">
        <img src="{{ url_for('static', filename='images/logo.png') }}" 
             alt="Logo Terralog" 
             class="h-20 w-auto object-contain ">
    </a>
</div>

    <nav class="space-y-2 relative z-10">
        
        <a href="/kasir" 
           class="flex items-center gap-4 py-3.5 px-5 rounded-xl transition-all duration-200 
           {% if segment == 'dashboard' %} 
                bg-gray-100/10 border-x-4 border-terralogGold text-terralogGold shadow-md
           {% else %} 
                text-blue-100 hover:bg-white/10 
           {% endif %}">
            <i data-lucide="layout-grid" class="w-6 h-6"></i>
            <span class="font-semibold text-lg">Dashboard</span>
        </a>

        <a href="#" class="flex items-center gap-4 py-3.5 px-5 rounded-xl text-blue-100 hover:bg-white/10 transition group">
            <i data-lucide="file-text" class="w-6 h-6 opacity-80 group-hover:opacity-100"></i>
            <span class="font-medium text-lg">Pesanan Aktif</span>
        </a>

        <a href="#" class="flex items-center gap-4 py-3.5 px-5 rounded-xl text-blue-100 hover:bg-white/10 transition group">
            <i data-lucide="calendar" class="w-6 h-6 opacity-80 group-hover:opacity-100"></i>
            <span class="font-medium text-lg">Reservasi</span>
        </a>

        <a href="#" class="flex items-center gap-4 py-3.5 px-5 rounded-xl text-blue-100 hover:bg-white/10 transition group">
            <i data-lucide="utensils" class="w-6 h-6 opacity-80 group-hover:opacity-100"></i>
            <span class="font-medium text-lg">Stok Menu</span>
        </a>

        <a href="#" class="flex items-center gap-4 py-3.5 px-5 rounded-xl text-blue-100 hover:bg-white/10 transition group">
            <i data-lucide="history" class="w-6 h-6 opacity-80 group-hover:opacity-100"></i>
            <span class="font-medium text-lg">Riwayat Transaksi</span>
        </a>

    
            <a href="#" class="flex items-center gap-4 py-3.5 px-5 rounded-xl text-blue-100 hover:bg-white/10 transition group">
                <i data-lucide="settings" class="w-6 h-6 opacity-80 group-hover:opacity-100"></i>
                <span class="font-medium text-lg">Pengaturan</span>
            </a>
        
    </nav>

    <div class="absolute bottom-0 left-0 w-full pointer-events-none z-0">
        <img src="{{ url_for('static', filename='images/gambar.png') }}" 
             alt="" 
             class="w-full h-auto object-contain opacity-90">
    </div>

</aside>

<script>
    // Inisialisasi ikon Lucide
    lucide.createIcons();
</script>