 <aside class="fixed top-0 left-0 z-30 w-72 h-screen bg-terralogBlue text-white flex flex-col p-6 overflow-hidden">
    
    <div class="mb-8 px-2 flex justify-center">
    <a href="{{ url_for('kasir.dashboard') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" 
             alt="Logo Terralog" 
             class="h-20 w-auto object-contain ">
    </a>
</div>

    <nav class="space-y-2 relative z-10">

        <!-- KASIR MENU -->
        {% if role == 'kasir' %}
            <!-- Dashboard -->
            <a href="{{ url_for('kasir.dashboard') }}" 
               class="flex items-center gap-4 py-3.5 px-5 rounded-xl transition-all duration-200 
               {% if segment == 'dashboard' %} 
                    bg-gray-100/10 border-x-4 border-terralogGold text-terralogGold shadow-md
               {% else %} 
                    text-blue-100 hover:bg-white/10 
               {% endif %}">
                <i data-lucide="layout-grid" class="w-6 h-6"></i>
                <span class="font-semibold text-lg">Dashboard</span>
            </a>

            <!-- Pesanan Aktif -->
            <a href="{{ url_for('kasir.pesanan_aktif') }}" 
                class="flex items-center gap-4 py-3.5 px-5 rounded-xl transition-all duration-200 
                {% if segment == 'pesanan_aktif' %} 
                    bg-gray-100/10 border-x-4 border-terralogGold text-terralogGold shadow-md
                {% else %} 
                    text-blue-100 hover:bg-white/10 
                {% endif %}">
                <i data-lucide="clipboard-list" class="w-6 h-6"></i>
                <span class="font-semibold text-lg">Pesanan Aktif</span>
            </a>

            <!-- Reservasi -->
            <a href="{{ url_for('kasir.reservasi') }}" 
                class="flex items-center gap-4 py-3.5 px-5 rounded-xl transition-all duration-200 
            {% if segment == 'reservasi' %} 
                bg-gray-100/10 border-x-4 border-terralogGold text-terralogGold shadow-md
            {% else %} 
                text-blue-100 hover:bg-white/10 
            {% endif %} group">
                <i data-lucide="calendar" class="w-6 h-6 {% if segment == 'reservasi' %} opacity-100 {% else %} opacity-80 group-hover:opacity-100 {% endif %}"></i>
                <span class="font-semibold text-lg">Reservasi</span>
            </a>

            <!-- Riwayat Transaksi -->
            <a href="{{ url_for('kasir.riwayat_transaksi') }}"  class="flex items-center gap-4 py-3.5 px-3 rounded-xl transition-all duration-200 
                 {% if segment == 'riwayat_transaksi' %} 
                    bg-gray-100/10 border-x-4 border-terralogGold text-terralogGold shadow-md
                {% else %} 
                    text-blue-100 hover:bg-white/10 
                {% endif %}">
                <i data-lucide="history" class="w-6 h-6 opacity-80 group-hover:opacity-100"></i>
                <span class="font-medium text-lg">Riwayat Transaksi</span>
            </a>

            <!-- Pengaturan -->
            <a href="{{ url_for('kasir.pengaturan') }}" class="flex items-center gap-4 py-3.5 px-3 rounded-xl transition-all duration-200 
                 {% if segment == 'pengaturan' %} 
                    bg-gray-100/10 border-x-4 border-terralogGold text-terralogGold shadow-md
                {% else %} 
                    text-blue-100 hover:bg-white/10 
                {% endif %}">
                <i data-lucide="settings" class="w-6 h-6 opacity-80 group-hover:opacity-100"></i>
                <span class="font-medium text-lg">Pengaturan</span>
            </a>
        
        {% endif %}
        
    </nav>

    <div class="absolute bottom-0 left-0 w-full pointer-events-none z-0">
        <img src="{{ url_for('static', filename='images/gambar.png') }}" 
             alt="" 
             class="w-full h-auto object-contain opacity-90">
    </div>

</aside>

<script>
    // Inisialisasi ikon Lucide
    lucide.createIcons();
</script>